body{
    font-family: nunito, sans-serif;
    font-size: 1.5rem;
    background-color: #f1c1c2;
}

#mainNavBar{
    color: white;
    font-weight: 100;
}

#mainNavBar .navbar-brand{
    color: #de3245;
    font-weight: 100;
    font-size: 2rem;
}


#first h2{
    color: white;
    font-size: 3.8rem;
}

#first span{
    color: #de3245;
}

section{
    margin-top: 100px;
    margin-bottom: 100px;
}

#text{
    color: #de3245;
}

@media(max-width:1185px){
    #first h2{
        font-size: 3.2rem;
    }
}
@media(max-width:1008px){
    #first h2{
        font-size: 2.8rem;
    }
}

@media(max-width:1008px){
    #first h2{
        font-size: 2.5rem;
    }
}